<div class="col-md-6">
  <h2>All Bookmarks</h2>
  <%= will_paginate %>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Site</th>
        </tr>
      </thead>
      <tbody>
        <% @bookmarks.each do |bookmark| %>
        <tr>
            <td><%= link_to bookmark.title, bookmark %></td>
            <td><%= link_to bookmark.site.top_level_url, bookmark.site %></td>
            <td><%= link_to "edit", edit_bookmark_path(bookmark) %></td>
            <td>
            <%= form_for(bookmark) do |f| %>
              <%= f.submit "delete" %>
            <% end %>
            </td>
        </tr>
        <% end %> 
      </tbody>
    </table>
  <%= will_paginate %>
</div>