<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarkulum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3><%= link_to "Bookmarkolum", root_path, class: "masthead-brand" %></h3>
        <nav class="nav nav-masthead justify-content-center">
          <%= link_to "Bookmarks", bookmarks_path, class: "nav-link" %>
          <%= link_to "Sites", sites_path, class: "nav-link" %>
        </nav>
      </div>
    </header>
    
    <div class="cover">
      <%= yield %>
    </div>
  </div>
  
  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>An app by <a href="http://salomanuel.herokuapp.com/">Salomanuel</a>.</p>
    </div>
  </footer>
  


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../../../assets/js/vendor/popper.min.js"></script>
  <script src="../../../../dist/js/bootstrap.min.js"></script>
</body>
</html>